{% extends "base.html" %}
{% block content %}

<div style="margin-top: 20px;">
    <a href="{{ url_for('home') }}">
        <button class="go-back-btn">⬅ Go Back to Home</button>
    </a>
</div>

<main class="main-content">
    <section class="text-section">
        <h1>Learn More :</h1>
        <h2 style="color:#f7cb08; margin-top:24px;">How Our AI Works</h2>
         <div class="divider"></div>
        <p style="font-size:1.1rem;">
            Our platform uses advanced analytics and AI to help you understand your academic journey.
            We analyze your grades and activity to spot trends and predict future performance, giving you actionable feedback.
        </p>
        <h2 style="color:#f7cb08; margin-top:24px;">Benefits</h2>
         <div class="divider"></div>
        <ul style="font-size:1.1rem;">
            <li>Identify strengths and areas for improvement</li>
            <li>Set academic goals</li>
            <li>Get personalized recommendations</li>
        </ul>
         <h2 style="color:#f7cb08; margin-top:24px;">Explore Features</h2>
         <div class="divider"></div>
        <ul style="font-size: 18px;">
            <li>📈 Personalized performance graphs</li>
            <li>🧠 Smart prediction with ML</li>
            <li>🎯 Study habit tips</li>
            <li>❤️ Motivation & Feedback section</li>
        </ul>
        <h2 style="color:#f7cb08; margin-top:24px;">Your Privacy</h2>
         <div class="divider"></div>
        <p style="font-size:1.1rem;">
            All your data is encrypted and never shared with third parties.
        </p>
        <h2 style="color:#f7cb08; margin-top:24px;">What’s Next?</h2>
        <div class="divider"></div>
        <p style="font-size:1.1rem;">
            We’re working on new features like peer comparison and study tips—stay tuned!
        </p>
        <p>Students Performance Analysis is more than just marks tracking. It uses psychological, social, and academic factors to offer deep insights into a student’s learning journey.</p>
        <p>By combining data science and education, this tool guides students with actionable suggestions for growth and success.</p>
    </section>
</main>
{% endblock %}