<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HTML Form</title>
  </head>
  <body>
    <h1>Submit a form.</h1>
    <form action="/submit" method="post">
      <label for="Science">Science:</label>
      <input type="text" id="science" name="science" value="0" /><br>
      <label for="Math">Math:</label>
      <input type="text" id="math" name="math" value="0" /><br>
      <label for="C">C:</label>
      <input type="text" id="C" name="C" value="0" /><br>
      <label for="DataScience">DataScience:</label>
      <input type="text" id="datascience" name="datascience" value="0" /><br>
      <input type="submit" value="Submit" />
    </form>
    <p> If you click submit the form will go to page called "/submit" </p>
  </body>
</html>
